  .ccspinner-background {
    top: 0px;
    left: 0px;
    position: absolute;
    z-index: 9999;
    height: 100%;
    width: 100%;
    background-color: #808080;
    opacity: 0.2;
     border-radius: 6px;
}
.ccspinner-content {
    position: absolute;
    font-weight: bold;
    height: 100px;
    width: 150px;
    z-index: 10000;
    text-align: center;
   
}
.centerBlock {
    display: block;
    height: auto;
    margin: 20% auto;
    overflow: hidden;
    width: 100%;
}
/*Optional Animations*/
.dissolve-animation.ng-hide-remove,
.dissolve-animation.ng-hide-add {
    display: inline !important;
    -webkit-transition: 0.5s linear all;
    -moz-transition: 0.5s linear all;
    -o-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.dissolve-animation.ng-hide-remove.ng-hide-remove-active,
.dissolve-animation.ng-hide-add {
     opacity: 1;
}

.dissolve-animation.ng-hide-add.ng-hide-add-active,
.dissolve-animation.ng-hide-remove {
     opacity: 0;
}